$color_1:#A01E21;
$color_2:#222736;
$color_3:#F2F2F2;
$color_4:#F8F8F8;

.text-color_3{
  color: $color_3;
}
.bg-color_1{
  background-color: $color_1;
}
.bg-color_2{
  background-color: $color_2;
}
.bg-color_3{
  background-color: $color_4;
}
.text-white{
  color: white!important;
}
.text-red{
  color: #A01E21;
}

